body{background-color:#ff9900;
     font-family:Georgia, 'Times New Roman', Times, serif;
      font-size: medium;
color: black;}

h1{color: black; font-size: larger;text-align: center;
border: 10px groove blue; border-color:gray;
border-left: 2px; border-right: 2px; border-radius: 10px;}

h2{color: white; text-align: center;
text-shadow: 2px 2px 5px white;}